* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background: whitesmoke;
  }

  header {
    display: inline;
  }
  ul {
    margin-top: 0%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: saddlebrown;
    margin-bottom: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  li {
    list-style: none;
    display: inline;
    padding: 25px;
    text-decoration: none;
  }
  li :hover {
    color: wheat;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  .logoMidiasSocias {
    border-radius: 60%;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 10px;
  }

  .pMainClass {
    padding: 20px;
    margin-left: 10px;
    padding-bottom: 134px;
    margin-top: 0px;
    background-color: darkgray;
    border-radius: 15px;
  }
  .pMainClass2 {
    padding: 20px;
    padding-bottom: 100px;
    background-color: darkgray;
    border-radius: 15px;
  }
  .pMainClass3 {
    padding: 20px;
    padding-bottom: 30px;
    background-color: darkgray;
    border-radius: 15px;
    margin: 10px;
  }

  footer {
    display: flex;
    margin-top: 110px;
    background-color: saddlebrown;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .pfooterClass {
    display: block;
    display: inline;
    padding: 15px;
    width: 100%;
    color: white;
  }
  .fieldsetPaiClass {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border-radius: 30px;
    margin: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: saddlebrown;
    background-color: darkgray;
  }
  legend {
    color: black;
  }
  .inputClass {
    border: none;
    border-bottom: 1px solid black;
  }
  .labelClass {
    padding: 15px;
  }
  .textareaClass {
    width: 25%;
    height: 75px;
  }

  .buttonClass {
    box-shadow: inset 0px -1px 0px 0px #a6827e;
    background-color: saddlebrown;
    border-radius: 8px;
    border: 2px solid #54381e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 16px;
    padding: 9px 19px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4d3534;
    margin: 15px;
  }
  .buttonClass:hover {
    background-color: aqua;
  }